body{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
header{
    background-color: teal;
}
#main{
    display: flex;
    flex-direction: row;
    background-color: pink;
}
#contener{
    display: flex;
    background-color: green;
    margin: 0 auto;
}
#content{
    display: flex;
    flex-direction: column;
}
nav{
    margin-left: 10px;
    color: black;
    border-radius: 5%;
}
.box:nth-child(2n) .globarticle{
    display: flex;
    flex-direction: row-reverse;
    background-color: red;
    border-radius: 5%;
}
.box:nth-child(2n-1) .globarticle{
    display: flex;
    flex-direction: row;
    background-color: blue;
    border-radius: 5%;
}
img{
    background-color: turquoise;
    border-radius: 5%;
    max-width: 100%;
    width: 15em;
    height: 10em;
}
footer{
    background-color: yellow;
}
.titreP{
    display: flex;
    font-size: 1.6em;
    color: aqua;
    justify-content: center;
}
.corpP{
    text-align: justify;
    border: solid;
}
.box {
    display: flex;
    flex-direction: column;
    background-color:indianred;
}
a{
    color:black
}